

@media (max-width: 1024px) {
    .header {
        flex-direction: column;
        gap: 10px;
    }

    nav {
        flex-wrap: wrap;
        gap: 10px !important;
    } 

    .product-datails {
        flex-direction: column;
    }
}

@media (max-width: 600px) {

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 430px) {

    .buttons {
        flex-direction: column;
    }       

    .tabs li {
        font-size: 0.8rem;
    }
}